.view-component {
  display: flex;
  overflow-x: auto;

  > .wrap {
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    gap: 16px;
    padding: 16px;
  }

  > .wrap > .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
