.filesystem-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  justify-content: flex-start;

  > .textarea {
    width: 500px;
    padding: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $black-dark-grey;
    background-color: $white-dr-white;
    border: 1px solid $grey;
    border-radius: 3px;
  }

  > .images {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    width: 80%;
    min-height: 300px;
  }

  > .images > .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
  }

  > .images > .image {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
